<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hengsir.icma.dao.mapper.LeftMenuMapper">
    <resultMap id="LeftMenuResult" type="org.hengsir.icma.entity.LeftMenu">
        <result property="menuId" column="MENU_ID"/>
        <result property="menuIcon" column="MENU_ICON"/>
        <result property="menuCode" column="MENU_CODE"/>
        <result property="menuName" column="MENU_NAME"/>
        <result property="menuHref" column="MENU_HREF"/>
        <result property="menuSuperCode" column="SUPER_CODE"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <insert id="create" parameterType="org.hengsir.icma.entity.LeftMenu">
        INSERT INTO T_MENU (ID, ICON, CODE, NAME, HREF, SUPER_CODE, SORT, CREATE_BY, CREATE_TIME,SYS_ID)
        VALUES (#{id}, #{icon},
        #{code}, #{name},
        #{href}, #{superCode},
        #{sort}, #{createBy},
        #{createTime, jdbcType=TIMESTAMP},#{sysId})
    </insert>

    <select id="findAll" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU ORDER BY MENU_ID
    </select>

    <select id="findAllLoseHome" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE CODE != 'home' ORDER BY SORT
    </select>

    <select id="findLeftMenus" resultMap="LeftMenuResult" parameterType="java.lang.Integer">
        SELECT DISTINCT b.* FROM T_RIGHT a,T_MENU b,T_ROLE_RIGHT_RELATION c WHERE a.MENU_ID=b.MENU_ID AND
        a.RIGHT_ID=c.RIGHT_ID AND c.ROLE_ID in (
        <foreach collection="array" item="roleIds" index="index" separator=",">
            #{roleIds}
        </foreach>
        ) ORDER BY b.MENU_ID
    </select>

    <update id="update" parameterType="org.hengsir.icma.entity.LeftMenu">
        UPDATE T_MENU
        SET ICON=#{icon},
        CODE=#{code},
        NAME=#{name},
        HREF=#{href},
        SUPER_CODE=#{superCode},
        SORT=#{sort},
        UPDATE_BY=#{updateBy},
        UPDATE_TIME=#{updateTime, jdbcType=TIMESTAMP},
        SYS_ID=#{sysId}
        WHERE ID = #{id}
    </update>

    <update id="updateSysIdById" parameterType="org.hengsir.icma.entity.LeftMenu">
        UPDATE T_MENU
        SET SYS_ID=#{sysId}
        WHERE ID=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM T_MENU
        WHERE ID = #{id}
    </delete>

    <select id="findLeftMenusBy" parameterType="org.hengsir.icma.entity.LeftMenu" resultMap="LeftMenuResult"
            useCache="false">
        SELECT M.* FROM T_MENU M
        <where>
            <if test="null != menuName and '' != menuName">
                AND MENU_NAME LIKE CONCAT(CONCAT('%', #{menuName}),'%')
            </if>
            <if test="null != menuCode and '' != menuCode">
                AND CODE LIKE CONCAT(CONCAT('%', #{menuCode}),'%')
            </if>
            <if test="null != menuSuperCode and '' != menuSuperCode">
                AND SUPER_CODE = #{menuSuperCode} OR MENU_CODE = #{menuSuperCode}
            </if>
        </where>
    </select>

    <select id="findFatherMenu" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE MENU_HREF IS NULL
    </select>

    <select id="findLeftMenuById" parameterType="java.lang.Long" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE MENU_ID=#{id}
    </select>

    <select id="findSonMenus" parameterType="java.lang.String" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE SUPER_CODE=#{superCode}
    </select>

    <select id="findLeftMenuBySuperCode" parameterType="java.lang.String" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE MENU_CODE=#{code}
    </select>

    <select id="findAllSonMenus" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE MENU_HREF IS NOT NULL
    </select>

    <select id="findMenuByCodeExit" resultMap="LeftMenuResult" useCache="false" parameterType="java.lang.String">
        SELECT * FROM T_MENU WHERE MENU_CODE = #{code}
    </select>

</mapper>