<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}"></title>
    <head th:include="/commons/head::header"/>
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
</head>
<body class="page-header-fixed" id="addBody">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
    <div th:replace="/commons/page_sidebar::pageSidebar"></div>
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li th:utext="${locationMenu}"></li>
            <li>
                <i class='icon-angle-right'></i>
                <a href='javascript:void(0);'>修改</a>
            </li>
        </ul>
        <form id="updateForm" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-4 control-label">
                    规则号<font color="#FF0000">*</font>
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="ruleId" id="ruleId" th:value="${mchAllow.ruleId}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">
                    发卡机构<font color="#FF0000">*</font>
                </label>
                <div class="col-sm-6">
                    <select id="issuId" name="issuId" class="form-control">
                        <option value="">请选择发卡机构</option>
                        <option th:each="minst: ${minsts}" th:value="${minst.instId}" th:selected="${mchAllow.issuId == minst.instId}" th:text="${minst.instId} + '-'+ ${minst.instName}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">
                    卡判别方式<font color="#FF0000">*</font>
                </label>
                <div class="col-sm-6" style="white-space:nowrap;">
                    <div class="radio-list">
                        <label>
                            <div class="input-group">
                                <input th:checked="${mchAllow.cidType == 1}" data-id="1" style="width: 30%" type="radio" name="cidType" id="cidType1" value="1"> 按产品子类型
                                <span style="width: 70%" class="input-group-btn">
                            <select type="text" class="form-control input-large select2me" name="cid" id="cid1" th:value="${mchAllow.cid}" th:disabled="${mchAllow.cidType != 1}" >
                                <option value=""></option>
                                <option th:each="productType: ${productTypes}" th:value="${productType.productType}" th:text="${productType.productType} + '-' + ${productType.productName}"></option>
                            </select>
                        </span>
                            </div>
                        </label>
                        <label>
                            <div class="input-group">
                                <input th:checked="${mchAllow.cidType == 2}" data-id="2" style="width: 30%" type="radio" name="cidType" id="cidType2" value="2" > 按客户号
                                <span style="width: 70%" class="input-group-btn">
                            <select type="text" class="form-control input-large select2me" name="cid" id="cid2" th:value="${mchAllow.cid}" th:disabled="${mchAllow.cidType != 2}">
                                <option value=""></option>
                                <option th:each="mcustInfo: ${mcustInfos}" th:value="${mcustInfo.custNo}" th:text="${mcustInfo.custNo} + '-' + ${mcustInfo.cliName}"></option>
                            </select>
                        </span>
                            </div>
                        </label>
                        <label>
                            <div class="input-group">
                                <input th:checked="${mchAllow.cidType == 3}" data-id="3" style="width: 30%" type="radio" name="cidType" id="cidType3" value="3" > 按账号
                                <span style="width: 70%" class="input-group-btn">
                            <input type="text" class="form-control input-large" maxlength="20" name="cid" id="cid3"  th:disabled="${mchAllow.cidType != 3}" >
                        </span>
                            </div>
                        </label>
                        <label>
                            <div class="input-group">
                                <input th:checked="${mchAllow.cidType == 4}" data-id="4" style="width: 30%" type="radio" name="cidType" id="cidType4" value="4" > 按卡号
                                <span style="width: 70%" class="input-group-btn">
                            <input type="text" class="form-control input-large" maxlength="20" name="cid" id="cid4"  th:disabled="${mchAllow.cidType != 4}" >
                        </span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">
                    商户判别方式<font color="#FF0000">*</font>
                </label>
                <div class="col-sm-6" style="white-space:nowrap;">
                    <div class="radio-list">
                        <label>
                            <div class="input-group">
                                <input th:checked="${mchAllow.sidType == 1}" data-id="1" style="width: 30%" type="radio" name="sidType" id="sidType1" value="1"> 按商户类型码
                                <span style="width: 70%" class="input-group-btn">
                            <select type="text" class="form-control input-large select2me" name="sid" id="sid1" value="" th:disabled="${mchAllow.sidType != 1}" >
                                <option value=""></option>
                                <option th:each="mccCode: ${mccCodes}" th:value="${mccCode.mcc}" th:text="${mccCode.mcc} + '-' + ${mccCode.mccName}"></option>
                            </select>
                        </span>
                            </div>
                        </label>
                        <label>
                            <div class="input-group">
                                <input th:checked="${mchAllow.sidType == 2}" data-id="2" style="width: 30%" type="radio" name="sidType" id="sidType2" value="2" > 按商户组
                                <span style="width: 70%" class="input-group-btn">
                            <select type="text" class="form-control input-large select2me" name="sid" id="sid2" value=""  th:disabled="${mchAllow.sidType != 2}" >
                                <option value=""></option>
                                <option th:each="mchGroup: ${mchGroups}" th:value="${mchGroup.mchGrp}" th:text="${mchGroup.mchGrp} + '-' + ${mchGroup.groupName}"></option>
                            </select>
                        </span>
                            </div>
                        </label>
                        <label>
                            <div class="input-group">
                                <input data-id="3" th:checked="${mchAllow.sidType == 3}"  style="width: 30%" type="radio" name="sidType" id="sidType3" value="3" > 按商户号
                                <span style="width: 70%" class="input-group-btn">
                                 <input type="text" readonly="readonly" id="sid3" name="sid" class="form-control" style="width:44%;" th:disabled="${mchAllow.sidType != 3}">
                                 <input type="text" id="sidName" class="form-control" style="width: 44%;" th:value="${mchAllow.sidType != 3}?'':${mchAllow.midName}"  readonly>
                             <button type="button" th:disabled="${mchAllow.sidType != 3}"  id="mid3" class="btn blue btn-default" data-toggle="modal" data-target="#mchModal" onclick="initMchTables();">
                             商户号管理
                            </button>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div class="input-group">
                                <input th:checked="${mchAllow.sidType == 4}" data-id="4" style="width: 30%" type="radio" name="sidType" id="sidType4" value="4" > 按终端号
                                <span style="width: 70%" class="input-group-btn">
                            <select type="text" class="form-control input-large select2me" name="sid" id="sid4" value="" th:disabled="${mchAllow.sidType != 4}" >
                                <option value=""></option>
                                <option th:each="tida: ${tids}" th:value="${tida.tid}" th:text="${tida.tid} + '-' + ${tida.tidName}"></option>
                            </select>
                        </span>
                            </div>
                        </label>
                        <label>
                            <div class="input-group">
                                <input th:checked="${mchAllow.sidType == 5}" data-id="5" style="width: 30%" type="radio" name="sidType" id="sidType5" value="5" > 按门店
                                <span style="width: 70%" class="input-group-btn">
                                    <input type="text" readonly="readonly" th:disabled="${mchAllow.sidType != 5}" id="sid5" name="sid" class="form-control" style="width:40%;">
                                 <input type="text" id="cName" class="form-control" style="width: 50%;" th:value="${mchAllow.sidType != 5}?'':${mchAllow.shopInfoName}" disabled="disabled">
                                    </button>
                                    <button th:disabled="${mchAllow.sidType != 5}" id="grp5" type="button" class="btn blue btn-default" data-toggle="modal" data-target="#shopInfoModel" onclick="initShopInfoTables();">
                             门店管理
                            </button>
                        </span>
                            </div>
                        </label>
                        <label>
                            <div class="input-group">
                                <input th:checked="${mchAllow.sidType == 6}" data-id="6" style="width: 30%" type="radio" name="sidType" id="sidType6" value="6" > 按门店组
                                <span style="width: 70%" class="input-group-btn">
                                    <input type="text" readonly="readonly" th:disabled="${mchAllow.sidType != 6}" id="sid6" name="sid" class="form-control" style="width:40%;">

                                 <input type="text" id="grpName" class="form-control" style="width: 50%;" readonly th:value="${mchAllow.sidType != 6}?'':${mchAllow.shopGrpName}">
                                    <button th:disabled="${mchAllow.sidType != 6}" id="grp6" type="button"  class="btn blue btn-default" data-toggle="modal" data-target="#shopGrpModal" onclick="initShopGrpTables();">
                             门店分组管理
                                    </button>
                        </span>
                            </div>
                        </label>

                    </div>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-4 control-label">
                    开通标志<font color="#FF0000">*</font>
                </label>
                <div class="col-sm-6">
                    <select name="status" id="status" class="form-control" data-type="select" data-category="MCHDENY_FLAG" th:data-value="${mchAllow.status}"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">
                    规则描述<font color="#FF0000">*</font>
                </label>
                <div class="col-sm-6">
                    <input type="text" style="display: none"  id="cid" th:value="${mchAllow.cid}">
                    <input type="text" style="display: none"  id="sid" th:value="${mchAllow.sid}">
                    <input type="text" readonly="readonly" class="form-control" name="ruleDesc" id="ruleDesc" th:value="${mchAllow.ruleDesc}"  placeholder="请输入规则描述"/>
                </div>
            </div>

        </form>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <button style="margin-left:30px;" type="button" class="btn blue   btn-info btn-search" id="btnUpdate">提交</button>
                <button style="background-color: gray;" onclick="history.go(-1)" type="button" class="btn btn-info btn-search">取消</button>
            </div>
        </div>
    </div>

</div>
</div>

<div class="modal fade" id="shopGrpModal" tabindex="-1" role="dialog" aria-labelledby="shopGrpModelLabel">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="shopGrpModelLabel">门店信息</h4>
            </div>
            <div class="modal-body" style="height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="shopGrpFrom">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>门店分组代码(%)：</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="shopGrpId" type="text" class="form-control" placeholder="输入门店代码">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>门店分组名称(%)：</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="shopGrpName" type="text" class="form-control" placeholder="输入门店名称">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="initShopGrpTables()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanShopGrpQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="shop_grp_tables"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="shopGrpBtn">提交</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="shopInfoModel" tabindex="-1" role="dialog" aria-labelledby="shopInfoModelLabel">
    <div class="modal-dialog" role="document" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="shopInfoModelLabel">门店信息</h4>
            </div>
            <div class="modal-body" style="height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="shopInfoFrom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>门店代码(%)：</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="shopInfoId" type="text" class="form-control" placeholder="输入门店代码">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>门店名称(%)：</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="shopName" type="text" class="form-control" placeholder="输入门店名称">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>业务员代码(%)：</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="ywyId" type="text" class="form-control" placeholder="输入业务员代码">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="initShopInfoTables()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanShopQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="shop_info_tables"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="shopInfoBtn">提交</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mchModal" tabindex="-1" role="dialog" aria-labelledby="mchModelLabel">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="mchModelLabel">商户信息</h4>
            </div>
            <div class="modal-body" style="height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="mchFrom">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>商户号：</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="mid" type="text" class="form-control" placeholder="输入商户号">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>商户名称(%)：</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="midName" type="text" class="form-control" placeholder="输入商户名称">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="initMchTables()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanMchQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="mch_tables"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="mchBtn">提交</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="/commons/scripts::scripts"/>
</div>
<div th:replace="/commons/foot::foot"></div>
<script>
    jQuery(document).ready(function () {
        App.init();

        $("#sid4").select2({
            formatNoMatches: function(term) {
                return "未找到数据";
            }
        });
        $("#cid1").select2({
            formatNoMatches: function(term) {
                return "未找到数据";
            }
        });
        $("#cid2").select2({
            formatNoMatches: function(term) {
                return "未找到数据";
            }
        });
        $("#sid2").select2({
            formatNoMatches: function(term) {
                return "未找到数据";
            }
        });
        $("#sid1").select2({
            formatNoMatches: function(term) {
                return "未找到数据";
            }
        });

    });
</script>
</body>
<script type="text/javascript" th:src="@{/js/lockconsumption/mchallow-add.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/table/bootstrap-table.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/table/bootstrap-table-zh-CN.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/commons/jstree.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/commons/form-validate/additional-methods-extend.js}" charset="utf-8"></script>
</html>