<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}"></title>
    <head th:include="/commons/head::header"/>
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
</head>
<body class="page-header-fixed">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
    <div th:replace="/commons/page_sidebar::pageSidebar"></div>
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li th:utext="${locationMenu}"></li>
            <li>
                <i class='icon-angle-right'></i>
                <a href='javascript:void(0);'>显示明细</a>
            </li>
            <li class="btn-group"><a href="#" class="btn blue " onclick="history.go(-1)"><span>返回</span></a></li>
        </ul>
        <form class="form-horizontal">
            <ul class="nav nav-tabs" id="inputTab">
                <li class="active"><a href="#baseSetting">显示明细</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="baseSetting">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">系统订单号</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.sysOrderId}" class="control-label" ></label>
                            </div>
                            <label class="col-sm-2 control-label">卡号</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.pan}" class="control-label" ></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">交易类型</label>
                            <div class="col-sm-3">
                                <label th:text="${txnIdInfo.txnName}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">发卡机构</label>
                            <div class="col-sm-3">
                                <label th:text="${minst.instName}" class="form-control" style="border: none"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">账号</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.account}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">有效期</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.expDate}" class="form-control" style="border: none"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">交易金额</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.txnAmt}+元" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">余额</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.bal}+元" class="form-control" style="border: none"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">积分</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.score}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">账户类型</label>
                            <div class="col-sm-3">
                                <label th:text="${ItemUtil.getName(histTrans.accType,'DEAL_TRANS_ACCTYPE')}" class="form-control" style="border: none"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">原始交易时间</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.orgDate}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">交易时间</label>
                            <div class="col-sm-3">
                                <label th:text="${#calendars.format(histTrans.txnDate,'yyyy-MM-dd HH:mm:ss')}" class="form-control" style="border: none"></label>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">结算日期</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.settleDate}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">交易上送时间</label>
                            <div class="col-sm-3">
                                <label th:text="${#calendars.format(histTrans.uploadDate,'yyyy-MM-dd HH:mm:ss')}" class="form-control" style="border: none"></label>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">参考号</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.rrn}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">网点编号</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.orgCode}" class="form-control" style="border: none"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <label class="col-sm-2 control-label">商户号</label>
                            <div class="col-sm-3">
                                <label th:text="${mchInfo.mid}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">商户名称</label>
                            <div class="col-sm-3">
                                <label th:text="${mchInfo.midName}" class="form-control" style="border: none"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <label class="col-sm-2 control-label">产品类型</label>
                            <div class="col-sm-3">
                                <label th:text="${productType.productName}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">交易状态</label>
                            <div class="col-sm-3">
                                <label th:text="${ItemUtil.getName(histTrans.tranStatus,'DEAL_TRANS_TRANSTATUS')}" class="form-control" style="border: none"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <label class="col-sm-2 control-label">结算状态</label>
                            <div class="col-sm-3">
                                <label th:text="${ItemUtil.getName(histTrans.settStatus,'DEAL_TRANS_SETTSTATUS')}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">终端流水号</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.systrace}" class="form-control" style="border: none"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <label class="col-sm-2 control-label">渠道终端流水号</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.chSystrace}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">撤销终端流水号</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.orgSystrace}" class="form-control" style="border: none"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <label class="col-sm-2 control-label">终端号</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.tid}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">扩展终端号</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.atid}" class="form-control" style="border: none"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <label class="col-sm-2 control-label">门店编码</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.shopId}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">门店名称</label>
                            <div class="col-sm-3">
                                <label th:text="${shopInfo.cname}" class="form-control" style="border: none"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">渠道</label>
                            <div class="col-sm-3">
                                <label type="text" th:text="${histTrans.channelsName}" class="control-label" ></label>
                            </div>
                            <label class="col-sm-2 control-label">商品名称</label>
                            <div class="col-sm-3">
                                <label type="text" th:text="${histTrans.ordSpxxName}" class="control-label" ></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品单价</label>
                            <div class="col-sm-3">
                                <label type="text" th:text="${histTrans.ordSpxxPrice}" class="control-label" ></label>
                            </div>
                            <label class="col-sm-2 control-label">商品数量</label>
                            <div class="col-sm-3">
                                <label type="text" th:text="${histTrans.ordSpxxNum}" class="control-label" ></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">操作员</label>
                            <div class="col-sm-3">
                                <label th:text="${histTrans.teller}" class="form-control" style="border: none"></label>
                            </div>
                            <label class="col-sm-2 control-label">交易备注</label>
                            <div class="col-sm-3">
                                <textarea rows="3" th:text="${histTrans.memo}" class="form-control" style="border: none" readonly></label></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div th:replace="/commons/scripts::scripts"/>
</div>
<div th:replace="/commons/foot::foot"></div>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
</body>
<script type="text/javascript" th:src="@{/js/commons/jstree.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/commons/form-validate/additional-methods-extend.js}" charset="utf-8"></script>
</html>