<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="foot">
<div class="footer">
    <div class="footer-inner text-center">2017 &copy; 中经汇通电子商务有限公司</div>
    <div class="footer-tools">
			<span class="go-top"> <i class="icon-angle-up"></i>
			</span>
    </div>
</div>
<script type="application/javascript" th:src="@{/js/operationprompt.js}"></script>
<div id="confirm_modal" class="modal fade" tabindex="-1" data-width="400">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">操作提示</h4>
            </div>
            <div class="modal-body">
                <p id="confirm_modal_message">此操作不可逆,确定继续执行吗?</p>
            </div>
            <div class="modal-footer">
                <button id="confirm_cancel" type="button" data-dismiss="modal" class="btn default">取消</button>
                <button id="confirm_continue" type="button" data-dismiss="modal" class="btn green">继续</button>
            </div>
        </div>
    </div>
</div>
<div id="operation_result" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">结果提示</h4>
            </div>
            <div class="modal-body">
                <p id="confirm_modal_message">操作完成!</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">知道了</button>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    jQuery(document).ready(function () {
        //toastr.success("${message}", "操作成功");
        //toastr.success("${errorMessage}", "操作失败");
    });
</script>
</div>