<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title th:text="${pageTitle}"></title>
    <head th:include="/commons/head::header"/>
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
</head>

<body class="page-header-fixed" id="listBody">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
    <div th:replace="/commons/page_sidebar::pageSidebar"></div>
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li th:utext="${locationMenu}"></li>
            <li class="btn-group">
                <shiro:hasPermission name="settIssuTran_export">
                    <button class='btn blue ' id="export"><span>导出</span></button>
                </shiro:hasPermission>
            </li>
        </ul>
        <shiro:hasPermission name="settIssuTran_search">
            <form th:action="@{search}" id="settIssuTranForm" method="post">
                <!-- 搜索内容start -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>账户类型</label>
                            <select id="accType" name="accType" class="form-control">
                                <option value="">请选择账户类型</option>
                                <option th:each="acqType: ${accTypeList}" th:value="${acqType.accType}" th:text="${acqType.accName}" th:selected="('_'+${acqType.accType}=='_'+${settIssuTranVo.accType})"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>产品类型</label>
                            <div class="input-icon">
                                <select class="form-control select2me" data-placeholder="Select..." id="parProductType" name="parProductType" tabindex="1">
                                    <option value="">请选择</option>
                                    <option th:each="parType : ${parProductTypes}" th:value="${parType.parProductType}" th:text="${parType.parProductType}+'-'+${parType.productGroupName}" th:selected="('_'+${parType.parProductType}=='_'+${settIssuTranVo.parProductType})"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>发卡机构</label>
                            <select class="form-control select2me" data-placeholder="Select..." id="issuId" name="issuId">
                                <option value="">请选择发卡机构</option>
                                <option th:each="issuMinst: ${minstList}" th:value="${issuMinst.instId}" th:text="${issuMinst.instId}+'-'+${issuMinst.instName}" th:selected="('_'+${issuMinst.instId}=='_'+${settIssuTranVo.issuId})"></option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>结算日期</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="settDateBegin" id="settDateBegin"
                                        maxlength="19" placeholder="请选择开始时间" th:value="${settIssuTranVo.settDateBegin}"
                                        readonly/>
                                <span class="input-group-btn">
                                <button class="btn default date-reset" id="createTimeBeginClear" type="button"><i
                                        class="icon-remove"></i></button>
                            </span>
                                <span class="input-group-addon">至</span>
                                <input type="text" class="form-control" name="settDateEnd" id="settDateEnd"
                                        maxlength="19" placeholder="请选择结束时间" th:value="${settIssuTranVo.settDateEnd}"
                                        readonly/>
                                <span class="input-group-btn">
                                <button class="btn default date-reset" id="createTimeEndClear" type="button"><i
                                        class="icon-remove"></i></button>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-1">
                        <button type="submit" onclick="search()"
                                class="btn blue btn-block btn-sm">查询<i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" onclick="cleanQuery()"
                                class="btn blue btn-block btn-sm">重置<i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>结算日期</th>
                                <th>发卡机构</th>
                                <th>产品类型</th>
                                <th>账户类型</th>
                                <th>期初金额（元）</th>
                                <th>期末金额（元）</th>

                                <th>开卡交易笔数</th>
                                <th>开卡交易金额（元）</th>
                                <th>充值交易笔数</th>
                                <th>充值交易金额（元）</th>
                                <th>消费交易笔数</th>
                                <th>消费交易金额（元）</th>

                                <th>调账笔数</th>
                                <th>调账金额（元）</th>
                                <th>退卡笔数</th>
                                <th>退卡金额（元）</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="settIssuTranVo : ${list}">
                                <td th:text="${settIssuTranVo.settDate?:''}"></td>
                                <td th:text="${settIssuTranVo.minst?.instId?:''} + '-' + ${settIssuTranVo.minst?.instName?:''}"></td>
                                <td th:text="${settIssuTranVo?.productGroupName?: ''}"></td>
                                <td th:text="${settIssuTranVo.acType?.accName?: ''}"></td>
                                <td th:text="${#numbers.formatCurrency(settIssuTranVo?.iniBal ?: 0)}"></td>
                                <td th:text="${#numbers.formatCurrency(settIssuTranVo?.finBal ?: 0)}"></td>

                                <td th:text="${#numbers.formatDecimal(settIssuTranVo?.cnt1 ?: 0, 1, 'NONE', 0, 'POINT')}"></td>
                                <td th:text="${#numbers.formatCurrency(settIssuTranVo?.amt1 ?: 0)}"></td>
                                <td th:text="${#numbers.formatDecimal(settIssuTranVo?.cnt2 ?: 0, 1, 'NONE', 0, 'POINT')}"></td>
                                <td th:text="${#numbers.formatCurrency(settIssuTranVo?.amt2 ?: 0)}"></td>
                                <td th:text="${#numbers.formatDecimal(settIssuTranVo?.cnt3 ?: 0, 1, 'NONE', 0, 'POINT')}"></td>
                                <td th:text="${#numbers.formatCurrency(settIssuTranVo?.amt3 ?: 0)}"></td>

                                <td th:text="${#numbers.formatDecimal(settIssuTranVo?.cnt4 ?: 0, 1, 'NONE', 0, 'POINT')}"></td>
                                <td th:text="${#numbers.formatCurrency(settIssuTranVo?.amt4 ?: 0)}"></td>
                                <td th:text="${#numbers.formatDecimal(settIssuTranVo?.cnt5 ?: 0, 1, 'NONE', 0, 'POINT')}"></td>
                                <td th:text="${#numbers.formatCurrency(settIssuTranVo?.amt5 ?: 0)}"></td>
                            </tr>
                            <tr>
                                <th>合计：</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>

                                <th th:text="${#numbers.formatDecimal(mapSum?.cnt1Sum ?: 0, 1, 'NONE', 0, 'POINT')}"></th>
                                <th th:text="${#numbers.formatCurrency(mapSum?.amt1Sum ?: 0)}"></th>
                                <th th:text="${#numbers.formatDecimal(mapSum?.cnt2Sum ?: 0, 1, 'NONE', 0, 'POINT')}"></th>
                                <th th:text="${#numbers.formatCurrency(mapSum?.amt2Sum ?: 0)}"></th>
                                <th th:text="${#numbers.formatDecimal(mapSum?.cnt3Sum ?: 0, 1, 'NONE', 0, 'POINT')}"></th>
                                <th th:text="${#numbers.formatCurrency(mapSum?.amt3Sum ?: 0)}"></th>

                                <th th:text="${#numbers.formatDecimal(mapSum?.cnt4Sum ?: 0, 1, 'NONE', 0, 'POINT')}"></th>
                                <th th:text="${#numbers.formatCurrency(mapSum?.amt4Sum ?: 0)}"></th>
                                <th th:text="${#numbers.formatDecimal(mapSum?.cnt5Sum ?: 0, 1, 'NONE', 0, 'POINT')}"></th>
                                <th th:text="${#numbers.formatCurrency(mapSum?.amt5Sum ?: 0)}"></th>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:utext="${pageHtml}" class="row page_info" data-search="settIssuTranForm"></div>
            </form>
        </shiro:hasPermission>
    </div>
</div>
<div th:replace="/commons/scripts::scripts"/>
</div>
<div th:replace="/commons/foot::foot"></div>
<script>
    jQuery(document).ready(function () {
        App.init();
        $("#issuId").select2({
            formatNoMatches: function (term) {
                return "没找到数据";
            }
        })
        $("#productType").select2({
            formatNoMatches: function (term) {
                return "没找到数据";
            }
        })
    });
</script>
<script type="text/javascript" th:src="@{/js/statistic/sett-issu-tran-list.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/fileinput/fileinput.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/fileinput/bootstrap-fileinput.js}" charset="utf-8"></script>
</body>
</html>