<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}"></title>
	<head th:include="/commons/head::header" />
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
</head>
<body class="page-header-fixed" id="accTypeBody">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
	<div th:replace="/commons/page_sidebar::pageSidebar"></div>
	<div class="page-content">
	     <ul class="page-breadcrumb breadcrumb">
	      	<li th:utext="${locationMenu}"></li>
	      	<li>
	      		<i class='icon-angle-right'></i>
	      		<a href='javascript:void(0);'>新增</a>
	      	</li>
	     </ul>
	     <form id="addForm"  class="form-horizontal" role="form" th:action="@{add}"  method="post">
              <div class="form-group" >
                <label class="col-sm-4 control-label">
                    账户类型<font color="#FF0000">*</font>
                </label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control" name="accType" id="accType" value=""  placeholder="请输入账户类型"/>
                  </div>
              </div>
             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     账户名称<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="accName" id="accName" value=""  placeholder="请输入账户名称"/>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-sm-4 control-label">
                     金额单位
                 </label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="amtUnit" id="amtUnit" value=""  placeholder="请输入金额单位"/>
                 </div>
             </div>
             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     使用优先级
                 </label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="pri" id="pri" value=""  placeholder="请输入使用优先级"/>
                 </div>
             </div>
             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     整笔使用标志
                 </label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="iflag" id="iflag" value=""  placeholder="请输入整笔使用标志"/>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-sm-4 control-label">
                     余额上限<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="balanceHwm" id="balanceHwm" value=""  placeholder="请输入余额上限"/>
                 </div>
             </div>
             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     充值上限<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="chargeHwm" id="chargeHwm" value=""  placeholder="请输入充值上限"/>
                 </div>
             </div>
             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     回收低限<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="revokeWm" id="revokeWm" value=""  placeholder="请输入回收低限"/>
                 </div>
             </div>

             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     透支标志
                 </label>
                 <div class="col-sm-6">
                     <select name="overdrawFlag" id="overdrawFlag" class="form-control" data-type="select" data-category="OVERDRAW_FLAG" ></select>
                 </div>
             </div>
             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     有效月数<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="dftPeriod" id="dftPeriod" value="" placeholder="请输入有效月数"/>
                 </div>
             </div>
             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     有效期设定方式<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <select name="expFlag" id="expFlag" class="form-control" data-type="select" data-category="EXP_FLAG" ></select>
                 </div>
             </div>
             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     使用范围<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="scope" id="scope"  value="" placeholder="请输入使用范围"/>
                 </div>
             </div>
             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     账户类型分组<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="accGrp" id="accGrp"  value="" placeholder="请输入账户类型分组"/>
                 </div>
             </div>

             <div class="form-group">
                 <div class="col-sm-offset-4 col-sm-6">
                     <button style="margin-left:50px;" onclick="history.go(-1)" type="button" class="btn  default  btn-info btn-search">取消</button>
                     <button  style="margin-left:30px;"  type="button" class="btn blue   btn-info btn-search"  id="btnSave">提交</button>
                 </div>
             </div>
        </form>
	</div>
</div>
<div id="addAlert" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>添加完成</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn green" id="btn1">确定</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="/commons/scripts::scripts"/></div>
<div th:replace="/commons/foot::foot"></div>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
</body>
<script type="text/javascript" th:src="@{/js/media/acc-type-add.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/commons/form-validate/additional-methods-extend.js}" charset="utf-8"></script>
</html>