<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title th:text="${pageTitle}"></title>
    <head th:include="/commons/head::header"/>
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
    <style>
        th{
            width: 100px;
        }
    </style>
</head>

<body class="page-header-fixed" id="listBody">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
    <div th:replace="/commons/page_sidebar::pageSidebar"></div>
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li th:utext="${locationMenu}"></li>
            <li><i class='icon-angle-right'></i>
                <a href='javascript:void(0);'>查询</a>
            </li>
            <li class="btn-group">
                <shiro:hasPermission name="mobileGroup_add">
                    <a href="toadd" class='btn blue ' style="margin-right: 10px;"><span>新增</span></a>
                </shiro:hasPermission>
                <shiro:hasPermission name="mobileGroup_export">
                    <a href="javascript:void(0);" class='btn blue ' id="export"><span>导出</span></a>
                </shiro:hasPermission>
            </li>
        </ul>

        <shiro:hasPermission name="mobileGroup_search">
            <form action="/account-manage/mobile-group/search" id="mobileGroupForm" method="post">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="name">名称（%）</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="name" name="name"
                                       th:value="${mobileGroupVo.name}" placeholder="请输入姓名" maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="name">描述（%）</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="description" name="description"
                                       th:value="${mobileGroupVo.description}" placeholder="请输入手机组描述" maxlength="500">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="name">操作员（%）</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="teller" name="teller"
                                       th:value="${mobileGroupVo.teller}" placeholder="请输入操作员" maxlength="50">
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>创建日期</label>
                            <div class="input-group">
                                <input type="text" class="form-control" th:value="${mobileGroupVo.createTimeBegin}"
                                       name="createTimeBegin" id="createTimeBegin" maxlength="19" placeholder="请选择开始时间"
                                       readonly/>
                                <span class="input-group-btn">
                                     <button class="btn default date-reset" id="createTimeBeginClear" type="button"><i
                                             class="icon-remove"></i></button>
                               </span>
                                <span class="input-group-addon">至</span>
                                <input type="text" class="form-control" th:value="${mobileGroupVo.createTimeEnd}"
                                       name="createTimeEnd" id="createTimeEnd" maxlength="19" placeholder="请选择结束时间"
                                       readonly/>
                                <span class="input-group-btn">
                                      <button class="btn default date-reset" id="createTimeEndClear" type="button"><i
                                              class="icon-remove"></i></button>
                               </span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-1">
                        <button type="submit" onclick="search()"
                                class="btn blue btn-block btn-sm">查询<i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" onclick="cleanQuery()"
                                class="btn blue btn-block btn-sm">重置<i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="width: 200px;">名称</th>
                        <th style="width: 500px;">描述</th>
                        <th>所属机构</th>
                        <th>操作员</th>
                        <th style="width: 120px">创建时间</th>
                        <shiro:hasAnyPermissions name="mobileGroup_searchDetails,mobileGroup_update,mobileGroup_delete">
                            <th style="width: 30px;">操作</th>
                        </shiro:hasAnyPermissions>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="group : ${list}">
                        <td th:text="${group.id}" style="display: none"></td>
                        <td th:text="${group.name}"></td>
                        <td th:text="${group.description}"></td>
                        <td th:text="${group.instName}"></td>
                        <td th:text="${group.teller}"></td>
                        <td th:text="${#calendars.format(group.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <shiro:hasAnyPermissions name="mobileGroup_searchDetails,mobileGroup_update,mobileGroup_delete">
                            <td>
                                <shiro:hasPermission name="mobileGroup_searchDetails">
                                    <a th:href="@{todetail(id=${group.id})}" class='btn green btn-xs'>查看详情</a>
                                </shiro:hasPermission>

                                <shiro:hasPermission name="mobileGroup_update">
                                    <a th:href="@{toupdate(id=${group.id})}" class='btn blue btn-xs'>修改</a>
                                </shiro:hasPermission>

                                <shiro:hasPermission name="mobileGroup_delete">
                                    <a data-toggle="modal" href="#static" class='btn red btn-xs'
                                       th:onclick="'javascript:deleteMobileGroup(\''+${group.id}+'\');'"
                                       style="margin-left: 5px;">删除</a>
                                </shiro:hasPermission>
                            </td>
                        </shiro:hasAnyPermissions>
                    </tr>
                    </tbody>
                </table>
                </div>
                </div>
                <div th:utext="${pageHtml}" class="row page_info" data-search="mobileGroupForm"></div>
            </form>
        </shiro:hasPermission>
    </div>
</div>
<div th:replace="/commons/scripts::scripts"/>
</div>
<div th:replace="/commons/foot::foot"></div>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<script type="text/javascript" th:src="@{/js/account/mobile-group-list.js}" charset="utf-8"></script>

</body>
</html>