<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title th:text="${pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <head th:include="/commons/head::header"/>
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/jstree/style.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/fileinput/fileinput.css}"/>
</head>

<body class="page-header-fixed" id="tranBody">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
    <div th:replace="/commons/page_sidebar::pageSidebar"></div>
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li th:utext="${locationMenu}"></li>
            <li>
                <i class='icon-angle-right'></i>
                <a href='javascript:void(0);'>查询</a>
            </li>
            <li class="btn-group">
                <shiro:hasPermission name="trans-search">
                    <button id="export" class='btn blue' style="margin-left: 10px;"><span>导出</span></button>
                </shiro:hasPermission>
            </li>
        </ul>

        <shiro:hasPermission name="hist_trans-search">
            <form th:action="@{search}" method="post" id="tranForm">
                <!-- 搜索内容start -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>交易类型</label>
                            <div class="input-icon">
                                <select name="txnId" id="txnId" class="form-control" data-type="select"
                                        data-category="TXN_ID" th:data-value="${tranVo.txnId}"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>渠道订单号</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="sysOrderId" name="sysOrderId"
                                       th:value="${tranVo.sysOrderId}"
                                       placeholder="请输入渠道订单号"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>订单号</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="orderId" name="orderId"
                                       th:value="${tranVo.orderId}"
                                       placeholder="请输入订单号"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>商户</label>
                            <div class="input-group">
                                <input type="text" id="midShortName" name="midShortName" class="form-control"
                                       placeholder="请选择商户" th:value="${tranVo.midShortName}" th:data-value="${tranVo.midShortName}" readonly>
                                <input type="hidden" th:value="${tranVo.mid}" th:data-value="${tranVo.mid}" id="mid" name="mid" class="form-control" readonly>
                                <span class="input-group-btn" style="vertical-align:baseline">
                        <button type="button" class="btn btn-default" onclick="clearMchInfoTable();">
                             <i class="icon-remove"></i>
                            </button>
                                    <button type="button" class="btn blue btn-default" data-toggle="modal" data-target="#mchInfoModal" onclick="initMchInfoTable();">
                             选择 <i class="icon-plus"></i>
                            </button>
					    </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>子商户</label>
                            <div class="input-group">
                                <input type="text" id="subMidShortName" name="subMidShortName" class="form-control"
                                       placeholder="请选择子商户" th:value="${tranVo.subMidShortName}" th:data-value="${tranVo.subMidShortName}" readonly>
                                <input type="hidden" th:value="${tranVo.subMid}" th:data-value="${tranVo.subMid}" id="subMid" name="subMid" class="form-control" readonly>
                                <span class="input-group-btn" style="vertical-align:baseline">
                        <button type="button" class="btn btn-default" onclick="clearSubMchInfo();">
                             <i class="icon-remove"></i>
                            </button>
                                    <button type="button" class="btn blue btn-default" data-toggle="modal" onclick="initTable();">
                             选择 <i class="icon-plus"></i>
                            </button>
					    </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>终端</label>
                            <div class="input-group">
                                <input type="text" id="tidShortName" name="tidShortName" class="form-control"
                                       placeholder="请选择终端" th:data-value="${tranVo.tidShortName}" th:value="${tranVo.tidShortName}" readonly>
                                <input type="hidden" th:value="${tranVo.tid}" th:data-value="${tranVo.tid}" id="tid" name="tid" class="form-control" readonly>
                                <span class="input-group-btn" style="vertical-align:baseline">
                        <button type="button" class="btn btn-default" onclick="clearTidInfo();">
                             <i class="icon-remove"></i>
                            </button>
                                    <button type="button" class="btn blue btn-default" data-toggle="modal" onclick="initTidTable();">
                             选择 <i class="icon-plus"></i>
                            </button>
					    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>渠道</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="channels" name="channels"
                                       th:value="${tranVo.channels}"
                                       placeholder="请输入渠道"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>流水号</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="trace" name="trace"
                                       th:value="${tranVo.trace}"
                                       placeholder="请输入流水号"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>交易状态</label>
                            <div class="input-icon">
                                <select name="tranStatus" id="tranStatus" class="form-control" data-type="select"
                                        data-category="TRANS_STATUS"
                                        th:data-value="${tranVo.tranStatus}"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>结算状态</label>
                            <div class="input-icon">
                                <select name="settleStatus" id="settleStatus" class="form-control"
                                        data-type="select"
                                        data-category="SETTLE_STATUS"
                                        th:data-value="${tranVo.settleStatus}"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>商品名称(%)</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="goods" name="goods"
                                       th:value="${tranVo.goods}"
                                       placeholder="请输入商品名称"/>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>上送时间</label>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       th:value="${tranVo.uploadDateBegin}"
                                       name="uploadDateBegin" id="uploadDateBegin" maxlength="19"
                                       placeholder="请选择开始日期"
                                       readonly/>
                                <span class="input-group-btn">
                                <button class="btn default date-reset" id="uploadDateBeginClear" type="button"><i
                                        class="icon-remove"></i></button>
                            </span>
                                <span class="input-group-addon">至</span>
                                <input type="text" class="form-control"
                                       th:value="${tranVo.uploadDateEnd}"
                                       name="uploadDateEnd" id="uploadDateEnd" maxlength="19"
                                       placeholder="请选择结束日期"
                                       readonly/>
                                <span class="input-group-btn">
                                <button class="btn default date-reset" id="uploadDateEndClear" type="button"><i
                                        class="icon-remove"></i></button>
                            </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>结算时间</label>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       th:value="${tranVo.settleTimeBegin}"
                                       name="settleTimeBegin" id="settleTimeBegin" maxlength="19"
                                       placeholder="请选择开始日期"
                                       readonly/>
                                <span class="input-group-btn">
                                <button class="btn default date-reset" id="settleTimeBeginClear" type="button"><i
                                        class="icon-remove"></i></button>
                            </span>
                                <span class="input-group-addon">至</span>
                                <input type="text" class="form-control"
                                       th:value="${tranVo.settleTimeEnd}"
                                       name="settleTimeEnd" id="settleTimeEnd" maxlength="19"
                                       placeholder="请选择结束日期"
                                       readonly/>
                                <span class="input-group-btn">
                                <button class="btn default date-reset" id="settleTimeEndClear" type="button"><i
                                        class="icon-remove"></i></button>
                            </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>交易时间</label>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       th:value="${tranVo.txnTimeBegin}"
                                       name="txnTimeBegin" id="txnTimeBegin" maxlength="19"
                                       placeholder="请选择开始日期"
                                       readonly/>
                                <span class="input-group-btn">
                                <button class="btn default date-reset" id="txnTimeBeginClear" type="button"><i
                                        class="icon-remove"></i></button>
                            </span>
                                <span class="input-group-addon">至</span>
                                <input type="text" class="form-control"
                                       th:value="${tranVo.txnTimeEnd}"
                                       name="txnTimeEnd" id="txnTimeEnd" maxlength="19"
                                       placeholder="请选择结束日期"
                                       readonly/>
                                <span class="input-group-btn">
                                <button class="btn default date-reset" id="txnTimeEndClear" type="button"><i
                                        class="icon-remove"></i></button>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-1">
                        <button type="submit" onclick="search()"
                                class="btn blue btn-block btn-sm">查询<i class="m-icon-swapright m-icon-white"></i>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" onclick="cleanQuery()"
                                class="btn blue btn-block btn-sm">重置<i class="m-icon-swapright m-icon-white"></i>
                        </button>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>交易类型</th>
                                <th>渠道订单号</th>
                                <th>订单号</th>
                                <th>流水号</th>
                                <th>商品名称</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>订单总额</th>
                                <th>实付金额</th>
                                <th>优惠金额</th>
                                <th>费用</th>
                                <th>上送时间</th>
                                <th>交易返回码</th>
                                <th>交易返回详情</th>
                                <th>系统参考号</th>
                                <th>货币类型</th>
                                <th>交易码</th>
                                <th>商户号</th>
                                <th>商户简称</th>
                                <th>子商户号</th>
                                <th>子商户简称</th>
                                <th>终端号</th>
                                <th>终端简称</th>
                                <th>结算状态</th>
                                <th>结算时间</th>
                                <th>交易状态</th>
                                <th>交易时间</th>
                                <th>渠道</th>
                                <th>支付码类型</th>
                                <th>支付方式</th>
                                <th>批次号</th>
                                <th>备注</th>
                                <shiro:hasAnyPermissions name="hist_trans-view">
                                    <th style="width: 90px;">操作</th>
                                </shiro:hasAnyPermissions>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="tran : ${list}">
                                <td sl:type="TXN_ID" sl:text="${tran.txnId}"></td>
                                <td th:text="${tran.sysOrderId}"></td>
                                <td th:text="${tran.orderId}"></td>
                                <td th:text="${#numbers.formatInteger(tran.trace,6)}"></td>
                                <td th:text="${tran.goods}"></td>
                                <td th:text="${#numbers.formatCurrency((tran?.price?:0.0)/100.0)}"></td>
                                <td th:text="${tran.num}"></td>
                                <td th:text="${#numbers.formatCurrency((tran?.orderAmt?:0.0)/100.0)}"></td>
                                <td th:text="${#numbers.formatCurrency((tran?.payAmt?:0.0)/100.0)}"></td>
                                <td th:text="${#numbers.formatCurrency((tran?.yhAmt?:0.0)/100.0)}"></td>
                                <td th:text="${#numbers.formatCurrency((tran?.feeAmt?:0.0)/100.0)}"></td>
                                <td th:text="${#calendars.format(tran.uploadDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${tran.rc}"></td>
                                <td th:text="${tran.rcDetail}"></td>
                                <td th:text="${tran.rrn}"></td>
                                <td sl:type="CCY_TYPE" sl:text="${tran.currency}"></td>
                                <td th:text="${tran.txnCode}"></td>
                                <td th:text="${tran.mid}"></td>
                                <td th:text="${tran.midShortName}"></td>
                                <td th:text="${tran.subMid}"></td>
                                <td th:text="${tran.subMidShortName}"></td>
                                <td th:text="${tran.tid}"></td>
                                <td th:text="${tran.tidShortName}"></td>
                                <td sl:type="SETTLE_STATUS" sl:text="${tran.settleStatus}"></td>
                                <td th:text="${#calendars.format(tran.settleTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td sl:type="TRANS_STATUS" sl:text="${tran.tranStatus}"></td>
                                <td th:text="${#calendars.format(tran.txnTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${tran.channels}"></td>
                                <td sl:type="CODE_TYPE" sl:text="${tran.codeType}"></td>
                                <td sl:type="PAY_TYPE" sl:text="${tran.payType}"></td>
                                <td th:text="${tran.batchNo}"></td>
                                <td th:text="${tran.memo}"></td>


                                <shiro:hasAnyPermissions name="hist_trans-view">
                                    <td>
                                        <shiro:hasPermission name="hist_trans-view">
                                            <a class='btn green btn-xs ' th:href="@{view(id=${tran.id})}">详情</a>
                                        </shiro:hasPermission>
                                    </td>
                                </shiro:hasAnyPermissions>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:utext="${pageHtml}" class="row page_info" data-search="tranForm"></div>
            </form>
        </shiro:hasPermission>
    </div>
</div>

<!--&lt;!&ndash;导入数据操作层&ndash;&gt;
<div id="batchImportModal" class="modal fade" role="dialog"
        aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">批量导入</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:right;padding:5px">
                    <a id="downId" onclick="down()">
                        <span style="font-size:larger;font-weight:200;color:red;cursor:pointer;">终端批量导入-模板.xlsx</span>
                    </a>
                </div>
                <div class="form-group" id="passwordDiv">
                    <label>选择终端数据文件(<span style="color: red;">请先在右上角下载模板填导入内容</span>)</label>
                    <input class="form-control" type="file" id="batchFile">
                </div>
                <div><span color="red" id="content"></span></div>
                <div class="progress progress-striped active" style="display: none">
                    <div id="progressBar" class="progress-bar progress-bar-info"
                            role="progressbar" aria-valuemin="0" aria-valuenow="0"
                            aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
                <div class="form-group">
                    <input id="batchImportBtn" type="submit" name="submit" class="btn btn-success" value="上传"/>
                </div>
            </div>
        </div>
        &lt;!&ndash; /.modal-content &ndash;&gt;
    </div>
    &lt;!&ndash; /.modal-dialog &ndash;&gt;
</div>-->

<div id="addAlert" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>添加完成</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn green" id="btn1">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mchInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="mchInfoModalLabel">商户信息</h4>
            </div>
            <div class="modal-body" style="height: auto;max-height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="mchInfoShowFrom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>商户号</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="midSearch" type="text" class="form-control" placeholder="请输入商户号">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>商户简称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="midShortNameSearch" type="text" class="form-control" placeholder="请输入商户简称">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>商户名称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="midNameSearch" type="text" class="form-control" placeholder="请输入商户名称">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="refreshAlertMchData()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanMchInfoQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="mchInfoTable" class="table table-striped table-bordered table-hover"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="selectMchInfo();">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="myModalLabel">子商户信息</h4>
            </div>
            <div class="modal-body" style="height: auto;max-height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="subMchInfoShowFrom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>子商户号</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="subMidSearch" type="text" class="form-control" placeholder="请输入子商户号">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>子商户简称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="subMidShortNameSearch" type="text" class="form-control" placeholder="请输入子商户简称">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>子商户名称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="subMidNameSearch" type="text" class="form-control" placeholder="请输入子商户名称">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="refreshAlertSubMchData()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanSubMchInfoQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="item_info_table" class="table table-striped table-bordered table-hover"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="selectItem();">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tidModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="tidModalLabel">终端信息</h4>
            </div>
            <div class="modal-body" style="height: auto;max-height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="tidInfoShowFrom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>终端号</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="tidSearch" type="text" class="form-control" placeholder="请输入终端号">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>终端简称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="tidShortNameSearch" type="text" class="form-control" placeholder="请输入终端简称">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>终端名称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="tidNameSearch" type="text" class="form-control" placeholder="请输入终端名称">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="refreshAlertTidData()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanTidInfoQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="tid-info-table" class="table table-striped table-bordered table-hover"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="selectTid();">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<div th:replace="/commons/scripts::scripts"/>
</div>
<div th:replace="/commons/foot::foot"></div>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<script type="text/javascript" th:src="@{/js/trans/hist-trans-list.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/table/bootstrap-table.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/table/bootstrap-table-zh-CN.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/commons/character-check.js}" charset="utf-8"></script>

</body>
</html>