<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}"></title>
    <head th:include="/commons/head::header"/>
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="page-header-fixed" id="midAcceptBody">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
    <div th:replace="/commons/page_sidebar::pageSidebar"></div>
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li th:utext="${locationMenu}"></li>
            <li>
                <i class='icon-angle-right'></i>
                <a href='javascript:void(0);'>修改</a>
            </li>
        </ul>

        <form class="form-horizontal" method="post" id="midAcceptForm">
            <div class="form-group">
                <label for="issuId" class="col-sm-4 control-label"><font color="#FF0000">*</font>发卡机构代码</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="issuId" id="issuId" th:value="${midAccept.issuId}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="issuName" class="col-sm-4 control-label">发卡机构名称</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="issuName" id="issuName" th:value="${midAccept.issuName}" placeholder="请输入发卡机构名称" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="mid" class="col-sm-4 control-label"><font color="#FF0000">*</font>商户代码</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="mid" id="mid" th:value="${midAccept.mid}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="midName" class="col-sm-4 control-label">商户名称</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="midName" id="midName" th:value="${midAccept.midName}" placeholder="请输入商户名称" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="flag" class="col-sm-4 control-label">激活标记</label>
                <div class="col-sm-4">
                    <select id="flag" name="flag" class="form-control">
                        <option value="">请选择激活标记</option>
                        <option value="0" th:selected="(${midAccept.flag==0})">未激活</option>
                        <option value="1" th:selected="(${midAccept.flag==1})">激活</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="memo" class="col-sm-4 control-label">备注</label>
                <div class="col-sm-4">
                    <textarea rows="3" name="memo" id="memo" class="form-control" th:text="${midAccept.memo}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <button style="margin-left:50px;" onclick="history.go(-1)" type="button" class="btn  default  btn-info btn-search">取消</button>
                    <button style="margin-left:30px;" type="button" class="btn btn-info btn-search" id="btnUpdate">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="/commons/scripts::scripts"/>
</div>
<div th:replace="/commons/foot::foot"></div>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<script type="text/javascript" th:src="@{/js/accept/mid-accept.js}"></script>
</body>
</html>