<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}"></title>
    <head th:include="/commons/head::header"/>
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="page-header-fixed" id="sysArgsBody">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
    <div th:replace="/commons/page_sidebar::pageSidebar"></div>
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li th:utext="${locationMenu}"></li>
            <li>
                <i class='icon-angle-right'></i>
                <a href='javascript:void(0);'>新增</a>
            </li>
        </ul>

        <form class="form-horizontal" method="post" id="sysArgsForm">
            <div class="form-group">
                <label for="argName" class="col-sm-4 control-label"><font color="#FF0000">*</font>参数名称</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="argName" id="argName" value="" placeholder="请输入参数名称"/>
                </div>
            </div>
            <div class="form-group">
                <label for="argValue" class="col-sm-4 control-label"><font color="#FF0000">*</font>参数值</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="argValue" id="argValue" value="" placeholder="请输入参数值"/>
                </div>
            </div>
            <div class="form-group">
                <label for="memo" class="col-sm-4 control-label"><font color="#FF0000">*</font>参数解释</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="memo" id="memo" value="" placeholder="请输入参数解释"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <button style="margin-left:50px;" onclick="history.go(-1)" type="button" class="btn  default  btn-info btn-search">取消</button>
                    <button style="margin-left:30px;" type="button" class="btn btn-info btn-search" id="btnSave">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="/commons/scripts::scripts"/>
</div>
<div th:replace="/commons/foot::foot"></div>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<script type="text/javascript" th:src="@{/js/system-data/sys-args.js}"></script>
</body>
</html>